<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<!doctype html>
<html>
   <head>
      <title>Авторизация</title>
   </head>
   <body bgcolor="#fed766">
      <form action="/login" method="post"><button class="button" name="auth_button">Авторизация через ВК</button></form>
   </body>
</html>


<style>
   button {
    background-color: #2ab7ca;
    border: none;
    color: #f4f4f8;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    box-shadow: 5px 5px 5px #caa946;
    font: 20px/1.5 "Courier New", Courier, monospace;
}
button:hover { background-color: #26a8b9; cursor: pointer;}
button:active { background-color: #2397a7;}
</style>