<!DOCTYPE html>
  <link href="{{ url_for('static', filename='css/list.css') }}" rel='stylesheet' type='text/css'>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
   <head>
      <title>Ваши друзья</title>
   </head>
   <body bgcolor="#D8ECFF">
      <div>
         <ul id="cont">
            <center>
               <h1>Друзья {{ name }}</h1>
            </center>
            <li>
               <img src=>
               <h3></h3>
               <p></p>
            </li>
         </ul>
      </div>
   </body>
</html>

