<!DOCTYPE html>
  <link href="{{ url_for('static', filename='css/list.css') }}" rel='stylesheet' type='text/css'>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
   <head>
      <title>Ваши друзья</title>
   </head>
   <body>
      <div>
         <ul id="cont">
            <center>
               <h1>Друзья {{ name }}</h1>
            </center>
            {% for i in friends %}
            <li>
               <img src="{{i['photo']|safe}}">
               <h3>{{i['first_name']}}</h3>
               <p>{{i['last_name']}}</p>
            </li>
            {% endfor %}
         </ul>
      </div>
   </body>
</html>

