<!DOCTYPE html>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
   <head>
      <title>Ваши друзья</title>
   </head>
   <body>
      <div>
         <h1>Друзья {{name}}</h1>
         <ul>
            {% for i in friends %}
            <li>
               <img src="{{i['photo']|safe}}">
               <h3>{{i['first_name']}} {{i['last_name']}}</h3>
            </li>
            {% endfor %}
         </ul>
      </div>
   </body>
</html>

<style>
* {margin: 0; padding: 0;}

div {
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
</style>

